$primary-color: darkblue;
// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

// Navigation
nav {
    box-shadow: 0 6px 32px rgba(0, 0, 0, 0.2);
}

nav .nav-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 13px;
}

nav .img-logo {
    height: 20px;
}

nav .img-subtitles {
    display: inline-flex;
    align-items: flex-end;
    height: 28px;
}

nav .img-subtitles img {
    height: 14px;
}

nav .nav-with-subtitle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav .nav-with-subtitle div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav .nav-with-subtitle div:nth-child(2) {
    background-color: whitesmoke;
    padding: 0px 13px;
}

nav .nav-with-subtitle div:nth-child(2) span:nth-child(1) {
    flex: 1px;
    text-align: center;
    padding: 7px;
}

nav div strong {
    vertical-align: middle;
    margin-left: 5px;
    font-size: larger;
    text-wrap-mode: nowrap;
}

nav button {
    margin-left: 15px;
    padding: 12px;
    color: black;
    border-radius: 0px;
    background-color: white;
    border: none;
}

.selected-menu {
    border-top: 3px black solid;
    padding-top: 10px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    background-color: whitesmoke;
}

.warning-menu {
    background-color: beige;
}

.hidden-menu {
    background-color: lightgray;
}

.button-menu {
    margin: 0px 5px;
}

.img-warning-menu {
    height: 20px;
    margin-left: 8px;
}

.img-visible-tab, .img-visible-section {
    height: 20px;
    margin: 0px 3px;
}

// General
section {
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    scrollbar-color: grey transparent;
}

input {
    height: fit-content;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.block {
    display: block;
}

table tr td img,
.search-input img,
.sort-row img,
.item-row img {
    height: 12px;
    margin: 0px 5px;
}

div.item-row,
tr.item-row td > div {
    display: flex;
    align-items: center;
}

.sort-row {
    padding-bottom: 8px;
    cursor: pointer;
}

.sort-table input {
    height: 12px;
}

img {
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

// Refined
form {
    display: grid;
    grid-template-columns: 85px 50px 30px;
    grid-gap: 10px;
}

.grid-output {
    display: grid;
    grid-template-columns: 150px 45px;
    grid-gap: 15px;
    margin-top: 15px;
}

.calc-output {
    display: grid;
    grid-template-columns: 85px 65px;
    grid-gap: 5px;
}

.main-output {
    font-size: larger;
}

form label {
    text-align: end;
}

.img-loading {
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.actives tr td {
    text-align: center;
}

// Refined
.calc-refined {
    display: grid;
    grid-template-columns: 85px 50px 30px;
    grid-gap: 10px;
}

.buy-refined {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 20px 20px 20px 20px 20px;
    grid-gap: 5px;
}

.buy-refined input {
    width: 50px;
}

.order-refined {
    display: grid;
    grid-template-columns: 85px 50px 30px 50px 50px;
    grid-gap: 10px;
}

.use-refined {
    display: grid;
    grid-template-columns: 85px 80px 0px 50px;
    grid-gap: 10px;
}

// Settings
.form-settings {
    display: table;
}

.form-settings p {
    display: table-row;
}

.form-settings p label {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}

.form-settings p input {
    display: table-cell;
    width: 400px;
}

.form-settings p textarea {
    display: table-cell;
    width: 530px;
    height: 200px;
}

.feature-title {
    font-weight: bold;
}

.feature-description {
    margin-left: 5px;
    display: block;
}

// Inventory
.info {
    color: grey;
}

.error {
    color: red;
}

.wait-button {
    margin: 0px 5px;
}

.date {
    color: black;
    font-size: 14px;
}

.table-history tr {
    height: 20px;
}

.table-diff {
    background-color: ghostwhite;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 5px;
}

.table-diff tr td,
.sort-table tr td {
    padding-left: 7px;
    padding-right: 7px;
    cursor: default;
}

.table-diff tr td img,
.item-row img,
.img-hover img {
    visibility: hidden;
    align-self: center;
}

.table-diff tr:hover td img,
.table-diff tr td img[data-show],
.item-row:hover img,
.item-row img[data-show],
.img-hover:hover img,
.img-hover img[data-show] {
    visibility: visible;
}

.hidden-item-row {
    color: grey;
}

.sort-row img {
    width: 8px;
    height: 8px;
}

.table-diff tr td input {
    width: 50px;
}

.table-diff tr td:nth-child(3),
.table-diff tr td:nth-child(4) {
    text-align: end;
}

td .img-up {
    display: none;
}

td:hover .img-up {
    display: inline;
}

td .img-info {
    display: none;
}

td:hover .img-info {
    display: inline;
}

.difference {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 8px;
    margin-left: 20px;
    font-size: 14px;
}

.positive {
    background-color: green;
}

.negative {
    background-color: red;
}

.img-refresh {
    height: 20px;
    margin-right: 10px;
}

.img-delta-zero, .img-copy {
    height: 15px;
    margin-left: 10px;
}

.sort-row .img-tt-service-reload, .sort-row .img-tt-service-loading, .sort-row .img-tt-service-error {
    height: 12px;
    width: 11px;
}

.sort-row .img-tt-service-reload, .sort-row .img-tt-service-loading {
    margin: 0px;
}

.sort-row .img-tt-service-error {
    margin: 0px 5px 0px 0px;
}

.img-hidden {
    height: 15px;
    align-self: center;
}

.img-warning {
    height: 25px;
    margin-left: 10px;
}

.img-about {
    height: 50px;
    margin-right: 10px;
}

.img-up {
    margin-left: 8px;
    font-weight: normal;
    font-style: normal;
    cursor: default;
}

.img-up img {
    height: 10px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.img-info {
    height: 15px;
    margin-left: 5px;
    font-weight: normal;
    font-style: italic;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}

.label-up {
    background-color: black;
    color: white;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
    font-style: normal;
    border-radius: 8px;
}

h1 img,
h2 img {
    height: 14px;
    margin-left: 5px;
}

h1 .hide {
    display: none;
}

h1:hover .hide {
    display: inline;
}

h3 img {
    height: 10px;
    margin-left: 5px;
}

h3 .hide {
    display: none;
}

h3:hover .hide {
    display: inline;
}

.show-all {
    display: none;
    margin-left: 10px;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 8px;
    cursor: default;
}

.show-all img {
    height: 10px;
    margin-right: 5px;
}

.search-container:hover .show-all {
    display: inline;
}

.popup {
    position: absolute;
    left: 28px;
    z-index: 1;
    top: -8px;
    background-color: lavender;
    padding: 10px;
    border-radius: 13px;
}

.popup-container {
    position: relative;
}

input:read-only, textarea:read-only {
    background-color: transparent;
}

// buttons
button {
    border: none;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 0px 15px;
}

button:disabled {
    background-color: lightgrey;
}

button:active {
    background-color: grey;
}

.button-plus {
    display: inline-block;
    width: 11px;
}

.requested {
    font-style: italic;
}

.last {
    font-weight: bold;
}

.item-text {
    margin-right: 5px;
    font-weight: normal;
}

.last.item-text {
    font-weight: bold;
}

.item-row.stable [data-text],
.item-row.stable [data-text-right] {
    position: relative;
    color: transparent;
    font-weight: bold;
}

.item-row.stable [data-text]::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: black;
    font-weight: normal;
    z-index: 1;
}

.item-row.stable [data-text-right]::after {
    content: attr(data-text-right);
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    font-weight: normal;
    z-index: 1;
}

.item-row:hover,
.item-row:hover .item-text,
.item-row .to-auction.item-text,
.item-row.stable:hover [data-text]::after,
.item-row.stable:hover [data-text-right]::after {
    font-weight: bold;
}

.button-text, .button-option-switch {
    background-color: transparent;
    color: black;
    border: solid 1px gray;
    margin: 0px 5px;
    padding: 0px;
    height: 20px;
    width: 20px;
}

.sortable-before-table {
    display: flex;
    margin-bottom: 10px;
}

.button-markup {
    margin-left: 15px;
    border-color: transparent;
}

.button-option-switch {
    border: unset;
    background-color: lightyellow;
}

.button-markup.active, .button-option-switch.active {
    background-color: black;
    color: white;
}

.button-craft {
    margin-left: 15px;
}

.button-timer {
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button-diff {
    background-color: lightsteelblue;
    border-style: none;
    border-radius: 10px;
    margin-right: 5px;
    padding: 0px;
    width: 22px;
}

.button-with-actions {
    background-color: green;
    color: white;
}

.button-with-warning {
    background-color: yellow;
    color: black;
}

.start {
    background-color: green;
}

.stop {
    background-color: red;
}

// search
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.search-input-container {
    display: flex;
    flex: auto;
    justify-content: end;
}

.search-input {
    margin: 0px 10px;
}

// checkbox
.checkbox {
    margin-left: 10px;
}

// Stream
.stream-view-section,
.stream-background-section {
    display: flex;
    flex-wrap: wrap;
}

.stream-view-section > div,
.stream-background-section > div > div {
    margin: 5px;
}

.stream-selected {
    border: black solid 2px;
    border-radius: 3px;
}

.stream-layout {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.stream-layout > * {
    margin-bottom: 10px;
    margin-right: 5px;
}
  
.stream-layout > *:last-child {
    margin-bottom: 0;
}

.stream-layout label {
    display: block;
}

.stream-layout textarea {
    width: 100%;
}

.stream-layout textarea {
    height: 300px;
}

.item-row .img-info {
    visibility: hidden;
}

.item-row .active {
    font-weight: bold;
}

.item-row:hover .img-info {
    visibility: visible;
}

// Craft
.input-budget-buy {
    margin: 0px 5px;
    width: 40px;
    text-align: right;
}

.craft-material h3 div:nth-child(1) {
    display: inline-block;
    width: 80px;
    text-align: end;
}

.craft-material h3 div:nth-child(2) {
    display: inline-block;
    margin-left: 5px;
}

.craft-material table {
    margin-left: 85px;
}

.craft-chain, .trade-item-data {
    background-color: floralwhite;
    padding: 1px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.trade-item-data {
    margin-top: 10px;
    height: fit-content;
    padding-bottom: 10px;
}

.clicks-error .item-text {
    margin-right: 2px;
}

.item-row .clicks-error img {
    margin: unset;
}

.item-row > div, .sort-row > div {
    display: inline-flex;
    overflow: hidden;
}

.item-row > div > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-row > div > * {
    align-self: center;
}

.trade-item {
    display: flex;
    flex-wrap: wrap;
    gap: 0px; /* Ensure no extra gaps */
    align-items: start;
    line-height: 1.5; /* Adjust for readability */
}
  
.trade-item span {
    white-space: pre-wrap; /* Ensures spaces are respected */
}

.trade-item span, .trade-item img {
    margin: 0px;
    display: inline;
}

.trade-item div {
    margin: 0px;
    display: inline-flex !important;
}

.notification-item {
    border: solid 1px lightblue;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 3px 8px;
}

.notification-item img {
    height: 12px;
    margin-left: 4px;
    margin-top: 2px;
}

.notification-item-container {
    margin-bottom: 10px;
    gap: 8px;
}

.material-calculator {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.material-calculator > img {
    height: 25px;
}

.material-calculator > table {
    border: 0px solid white;
}

input, textarea {
    margin: 0px 5px;
}

label {
    vertical-align: super;
}

.subtitle {
    margin: -10px 0px 10px 0px;
}
